<div id="main-container" class="container-fluid">

    <div class="welcome-profile">
        <div class="row row-p">
            <div id="greeting" class="col-xs-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Hello <br>{{member.username}}<b>
                   
                </h1></div>
                    <div>
                        <a>Reputation: {{member.reputation}}</a>
                        <hr>
                        <a>Account Created: {{member.created | date}}</a>
                        <hr>
                    </div>
                    <div class="panel panel-body">
                        <img ng-src="{{member.imgUrl}}"class="img-responsive">
                    </div>
                </div>
            </div>


            <div class="member-questions">
                <div class="btn-group">
                <button class="btn btn-primary" ng-click="show = !show; bob = !bob">Edit Profile</button>
                <button class="btn btn-primary" ng-click="bob = !bob; show = !show">Questions</button>
                </div>
                <div ng-show="!bob">
                    <div id="ScrollStyle2">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="question in myQuestions">
                                Title: {{question.title}}<br> Body: {{question.body}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-7">
                <div ng-show="show" id="profile" class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{member.firstname}}'s Profile</h4>
                    </div>
                    <form ng-submit="updateMember()" class="form form-profile">
                        <div class="form-group inline-form">
                            <label for="username">Username:</label>
                            <input placeholder="username" type="text" class="form-control" ng-model="member.username">
                        </div>
                        <div class="form-group">
                            <label for="firstname">Firstname:</label>
                            <input placeholder="Firstname" type="text" class="form-control" ng-model="member.firstname">
                        </div>
                        <div class="form-group">
                            <label for="Lastname">Lastname:</label>
                            <input placeholder="Lastname" type="text" class="form-control" ng-model="member.lastname">
                        </div>
                        <div class="form-group">
                            <label for="Image Url">Image Url:</label>
                            <input placeholder="Image Url" type="text" class="form-control" ng-model="member.imgUrl">
                        </div>
                        <div class="form-group">
                            <label for="Country">Country:</label>
                            <input placeholder="Country" type="text" class="form-control" ng-model="member.country">
                        </div>
                        <div class="form-group">
                            <label for="Bio">Bio:</label>
                            <input placeholder="Bio" type="text" class="form-control" ng-model="member.bio">
                        </div>
                        <div class="form-group">
                            <label for="Website Url">Website Url:</label>
                            <input placeholder="Website Url" type="text" class="form-control" ng-model="member.websiteUrl">
                        </div>
                        <div class="form-group">
                            <label for="Github">Github:</label>
                            <input placeholder="Github" type="text" class="form-control" ng-model="member.github">
                        </div>
                        <div class="form-group">
                            <label for="Twitter Handle">Twitter Handle:</label>
                            <input placeholder="Twitter Handle" type="text" class="form-control" ng-model="member.twitterHandle">
                        </div>
                        <div class="form-group">
                            <label for="Favorite Tags">Favorite Tags:</label>
                            <input placeholder="Favorite Tags" type="text" class="form-control" ng-model="member.favoriteTags">
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <button class="btn btn-primary" type="reset">Clear</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>








    <!--<div class="item-group jumbotron">
        <span> <em> <b>{{member.firstname}}'s reputation:{{member.reputation}}  </b> </em> </span>
        <hr>

        <hr>
    </div>-->
