<div id="main-container" class="container-fluid">

    <div class="welcome-profile">
        <div class="row-p">
            <div id="greeting" class="col-xs-4"> 
                <h1>Hello {{member.firstname}}</h1>               
                <img ng-src="{{member.imgUrl}}">
            </div>
              <div class="profile col-xs-8">   
                You were here last on {{member.questions}}<br>
                You are a {{star}} user <br>
                click here to see the questions you have asked <br>
                click here to see comments you have made<br>
                click here to see responses you have offered<br>
                upvotes=<br>
                downvotes=<br>                
            </div>
        </div>

        
    </div>
    

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="question in myQuestions">
                Question {{question.title}}
            </li>
        </ul>
    </div>
    <button class="btn btn-primary" ng-click="show = !show">Edit Profile</button>


    <div ng-show="show" class="profile">
        <form ng-submit="updateMember()" class="form">
            <div class="form-group">
                <label for="username">Username:</label>
                <input placeholder="username" type="text" class="form-control" ng-model="member.username">
            </div>
            <div class="form-group">
                <label for="firstname">Firstname:</label>
                <input placeholder="Firstname" type="text" class="form-control" ng-model="member.firstname">
            </div>
            <div class="form-group">
                <label for="Lastname">Lastname:</label>
                <input placeholder="Lastname" type="text" class="form-control" ng-model="member.lastname">
            </div>
            <div class="form-group">
                <label for="Image Url">Image Url:</label>
                <input placeholder="Image Url" type="text" class="form-control" ng-model="member.imgUrl">
            </div>
            <div class="form-group">
                <label for="Country">Country:</label>
                <input placeholder="Country" type="text" class="form-control" ng-model="member.country">
            </div>
            <div class="form-group">
                <label for="Bio">Bio:</label>
                <input placeholder="Bio" type="text" class="form-control" ng-model="member.bio">
            </div>
            <div class="form-group">
                <label for="Website Url">Website Url:</label>
                <input placeholder="Website Url" type="text" class="form-control" ng-model="member.websiteUrl">
            </div>
            <div class="form-group">
                <label for="Github">Github:</label>
                <input placeholder="Github" type="text" class="form-control" ng-model="member.github">
            </div>
            <div class="form-group">
                <label for="Twitter Handle">Twitter Handle:</label>
                <input placeholder="Twitter Handle" type="text" class="form-control" ng-model="member.twitterHandle">
            </div>
            <div class="form-group">
                <label for="Favorite Tags">Favorite Tags:</label>
                <input placeholder="Favorite Tags" type="text" class="form-control" ng-model="member.favoriteTags">
            </div>

            <div class="btn-group">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-primary" type="reset">Clear</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="item-group jumbotron">
        <span> <em> <b>{{member.username}}'s History of: </b> </em> </span>
        <hr>

       
        

        <a ui-sref="questions({id:questions.$id})" class="btn btn-primary">All Questions</a>


        

        <hr>
    </div>
    <div>
        <hr>
        <span> <em> <b> Reputation:{{member.reputation}} </b> </em> </span>
        <hr>
    </div>
   



    <!--Members are requesting a form where they can edit their memberObject.
	items denoted with ** should be stored on the memberObject
	howerever the edit form should not allow the Member to change these values 
	
	MemberObjectSchema
	{
		username: string,
		firstName: string,
		lastName: string,
		imgUrl:  string,
		country: string,
		bio: string,
		websiteUrl: string,
		github: string,
		twitterHandle: string,
		favoriteTags: [tag], // <--- BONUS: use commas in the input field to add multiple tags. Or Look at multiselect inputs
		**accountCreated: date,
		**upVotes: number,
		**downVotes: number,
		**reputation: number,
		**questions: [questionId]
		**answers: [answerId],
		**comments: [commentId]
		//Add anything else you think would be a cool feature to track
	}

	WARNING: Firebase will not allow you to add null properties to any object. When you need the specific field you can simple create it and pass its value. 	

-->