.text-white{
	color: aliceblue;
}

.content-container{
	min-height: 800px;
		/*padding-left:-15;
	padding-right:-15;*/
	  margin-top: 0;
	margin-bottom: -25;
	padding-top:-10px;
	margin-left:-15;
	margin-right:-15;
}

.stacked-footer{
	padding-top: 80px;
	min-height: 250px;
	color: aliceblue;
	background-color: #222;
}
input {
	width: 10px;
}

.special{
	
	text-align:center;
}

.container-login{
	background: url(../../assets/img/Stack.jpg) center no-repeat;
	background-size: cover;
    min-height: 800px;
    margin-top: -20;
	margin-bottom: -15;
    position: relative;
	text-align:center;
}

.home{
	background: url(../../assets/img/Stack.jpg) center no-repeat;
	background-size: cover;
    min-height: 800px;
    margin-top: -45;
	margin-bottom: -15;
    position: relative;
}
.home content{
padding-top:25px;
padding-left: 25px;
background-color: black;
    border: 1px solid white;
    border-radius: 5px;
}
.home h1{
padding-top:25px;
padding-left: 25px;
line-height: 55px;
color:white;
}

.home-view{ 
text-align:center;
margin-top:25px;
margin-right:250px;
margin-left:250px;
margin-bottom: 20px;
}
.content{
	margin-top:125px;	
}
.content a{
	font-size: 20px;
}
.login-form{
	margin-top:105px;
	/*border: 1px solid red;*/
	background-color: black;
	color: white;
	padding: 20 10 20 10;
	border-radius: 5px;
}
/*
.clock{	
	background-color: black;	
}*/
/*#greeting{
	border: 1px solid red;
}
.profile{
	border: 1px solid red;
}*/
#greeting img{
	height: 400px;
}
.container-questions{
background: black url(../../assets/img/Stack.jpg) center no-repeat;
	background-image: linear-gradient(to top, black, transparent);
	background-size: cover;
    min-height: 800px;
    margin-top: -45;
	margin-bottom: -15;
    position: relative;
}
ds-widget-clock{
	color: darkgoldenrod;
}
	

#questions-heading{
	  border-radius: 5px;
    opacity: .65; 
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .50;
    -moz-opacity: .50; 
	padding-top: 25px;
	margin-top: 25px;
	margin-left:25px;
	margin-right:25px;
}
#questions-enter{
	background-color: white;
	border-radius: 5px;
    opacity: .80; 
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)"; 
    -khtml-opacity: .80;
    -moz-opacity: .80; 
border: 1px solid white;
	margin-top: 25px;
	margin-left:35px;
	margin-right:35px;
	margin-bottom: 10px;
	text-align:center;
}
.container-questions #view-form{
	text-align:center;
}
#questions-btns{
display: inline-block;	
}
#ask{
	text-align:center;
	padding-top: 25px;
	margin-top: 25px;
	margin-left:25px;
	margin-right:25px;
}
#ScrollStyle{
	background-color: black;
  overflow-y:scroll; 
overflow-x:hidden;
border-radius:5px; 
height:380px;
border: 1px solid white;
	padding-top: 25px;
	margin-top: 25px;
	margin-left:35px;
	margin-right:35px;
	margin-bottom: 10px;
}
#ScrollStyle li{
    opacity: .75; 
    filter: alpha(opacity=75);
    -ms-filter: "alpha(opacity=75)"; 
    -khtml-opacity: .75;
    -moz-opacity: .75; 
margin-top:5px;
margin-right:50px;
margin-left:50px;
margin-bottom: 5px;
padding-top: 0px;
padding-right: 25px;
padding-bottom: 0px;
padding-left: 25px;
}

#ScrollStyle li:hover{
    background-color: black;
    color: white;
}
.panel-inside{
	padding: 0 0 0 0;
	display:inline-block;
}

#comments{
	text-align:center;
	/*background-color:black;*/
}
#response-enter{
	text-align:center;
}
.form-profile{
	margin-top:5px;
margin-right:10px;
margin-left:10px;
margin-bottom: 5px;

}

.panel-body button{
	margin-top:370px;
}
.responses-box{
	border: 1px solid white;
}
.memberQuestions {
	height: 100px;
}

#ScrollStyle2{
	background-color: white;
	color: white;
  overflow-y:scroll; 
overflow-x:hidden;
border-radius:5px; 
height:525px;
border: 1px solid lightgrey;
	padding-top: 25px;
	margin-top: 25px;
	margin-left:35px;
	margin-right:35px;
	margin-bottom: 10px;
}
#ScrollStyle2 li{
    opacity: .75; 
    filter: alpha(opacity=75);
    -ms-filter: "alpha(opacity=75)"; 
    -khtml-opacity: .75;
    -moz-opacity: .75; 
margin-top:5px;
margin-right:50px;
margin-left:50px;
margin-bottom: 5px;
padding-top: 0px;
padding-right: 25px;
padding-bottom: 0px;
padding-left: 25px;
}

#ScrollStyle2 li:hover{
    background-color: white;
    color: white;
}
.res{
	color: white;
}
