<!--<h1>QUESTIONS</h1>-->

<!--<p>If we are logged in we should have a member obj {{member}}</p>

<h2>Responsibilites</h2>
<p>It is your responsibility to get the questions from firebase to show up here.</p>
<p>When the user clicks on a question it should navigate them to the question view. To accomplish this you will need to pass
    to the route the questions id. This can be accomplished with either ui-sref="question({id: question.id})" or ng-href="#/questions/{{question.id}}"</p>
<p>It would also be nice if there is some sort of visual indicator that shows if the question has been answered already, and
    how many upvotes or downvotes the question itself has.</p>
<p>The questions can be orderby max upvotes or by date created depending on the users choice.</p>
<p>The question can be filtered based upon tags, unanswered</p>
<p>No voting from this page.</p>-->

<div class="jumbotron"><center> <h1> Questions</h1></center>  </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ask A Question</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="addQuestion(newQuestion)">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" ng-model="newQuestion.title" type="text">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <input class="form-control" ng-model="newQuestion.body" type="text">
            </div>
            <div class="form-group">
                 <label for ="type">Type</label>
                <input class="form-control" ng-model="query" type="text" required>
            </div>
            <div class="form-group">
                 
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-danger" type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>

            <div class="special">
                 <label for="type" style="text-align: center">Search Type</label>
                <input class="form-control" ng-model="query" type="text" required>
            </div>
            <hr>





<div ng-repeat="question in questions | filter: query">
    <ul class="list-group container">
        <li class="list-group-item row">
            <div class="col-sm-4">
               Title: {{question.title}}<br>Body: {{question.body}}
                <br>
            </div>
            <div class="col-sm-4">
                <a ng-click="vote(1)" class="glyphicon glyphicon-arrow-up"></a>
                <span>{{question.voteCount}}</span>
                <a ng-click="vote(-1)" class="glyphicon glyphicon-arrow-down"></a>
                <a ui-sref="question({id:question.$id})" class="btn">Comment</a>
                <input ng-model="newQuestion.checkbox" type="checkbox">
            </div>
            <div class="col-sm-4">
                
            </div>
        </li>
    </ul>
</div>