<h1>A SINGLE Comment VIEW</h1>

<p>If we are logged in we should have a member obj</p>

<!--<h3>Comment Rules</h3>
<p>A member must be logged in to cast votes, ask Comments, add responses, or add comments</p>
<p>A member may not upvote their own Comments/answers/comments</p>
<p>Only the member who posted the the Comments can mark an answer as the correct answer</p>
<p>Only the member who posted the the Comments/answers/comments can edit their content</p>
<p>A member may only upvote the Comments/answers/comments once.</p>
<p>A member can change their vote to either up or down but may not vote both ways.</p>-->


<div>
    <ul class="list-group">
        <li class="list-group-item">
            <h1>Question</h1> Title: {{question.title}}<br> Body: {{question.body}}<br> Author: {{member.username}}
        </li>
    </ul>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="addComment(newComment)">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" ng-model="newComment.title" type="text">
            </div>
            <div class="form-group">
                <label for="body">Description:</label>
                <input class="form-control" ng-model="newComment.body" type="text">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>



<div ng-repeat="comment in comments">
    <ul class="list-group container">
        <li class="list-group-item row">
            <div class="col-sm-4">
                Title: {{comment.title}}
                <br> Body: {{comment.body}}
                <br> Author: {{member.username}}
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary" ng-click="response = !response">Respond</button>
            </div>

            <div>
                <form ng-show="response" ng-submit="addComment(newComment)">
                    <div class="form-group" style="margin-top: 50px">
                        <label for="title">Title:</label>
                        <input class="form-control" ng-model="newComment.title" type="text">
                    </div>
                    <div class="form-group">
                        <label for="body">Description:</label>
                        <input class="form-control" ng-model="newComment.body" type="text">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>


        </li>
    </ul>
</div>